body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.set-color{
    color: rgb(252, 207, 10);
}
.flexible-con{
    display: flex;
    margin-bottom: 150px;
}
.content{
    width: 50%;
    padding-left: 2px;
}
.content img{
    width: 80%;
}
button{
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    border-radius: 10px;
}
button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expo-item{
    box-shadow: 10px 10px 30px green;
    max-width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    /* border-radius: 10px;
    border-right: 5px solid violet; */
}
.last-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#expoId-color{
    border-right: 7px solid rgb(247, 16, 247);
    border-image: linear-gradient(rgb(241, 9, 117),rgb(16, 233, 52));
    border-image-slice: 1;
}
#full-id{
    border-right: 7px solid rgb(87, 18, 216);
    border-image: linear-gradient(rgb(103, 9, 190),rgb(172, 231, 7));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}