body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0%;
}
h1{
    font-size: 25px;
}
.set-color{
    color: rgb(240, 51, 17);
}
.flexible-con{
    display: flex;
    margin-bottom: 100px;
}
.content{
    width: 50%;
    padding: 10px 5px 5px 10px;
}
.content img{
    width: 70%;
}
button{
    background-image: linear-gradient(tomato,orange);
    padding: 10px 30px;
    border-radius: 10px;
}
button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expo-item{
    box-shadow: 10px 10px 30px green;
    max-width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    /* border-radius: 10px;
    border-right: 5px solid violet; */
}
.last-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#expoId-color{
    border-right: 5px solid violet;
    border-image: linear-gradient(rgb(103, 9, 190),rgb(16, 233, 52));
    border-image-slice: 1;
}
#full-id{
    border-right: 5px solid violet;
    border-image: linear-gradient(rgb(103, 9, 190),rgb(16, 233, 52));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}